/*
    Exercise 1
*/
/*
#image-container {
    position: relative;
    width: 604px;
}
#caption {
    position: absolute;
    background: pink;
    color: white;
    font-size: 125%;
    top: 30px; 
    right: 10px;
}
*/

